
<script>
<!-- jQuery CDN -->

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>

</script>


<style>
.fa-facebook-square {
  color: 	#3B5998;
}
.fa-linkedin-square {
  color: #1985bc;  
}
.fa-twitter-square {
  color: #1da1f2;  
}
.fa-google-plus-square {
  color: #db4437  
}

 
    .parallax
    {
    background-image: url("http://i.imgur.com/emvhOnb.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
  
</style>

<div style="height:20px;">
</div>

 <div class="parallax"></div>


<footer class="page-footer font-large " >
 
    <div style="background-color: #07889B; height:70px;padding:25px;">
      <div class="container" style="opacity:5; height:80px;border: 1px groove grey;">

          <!-- Grid row-->
      <div class="row" >

        <!-- Grid column -->
        <div class="col-md-12 py-5" >
          <div class="mb-5 flex-center">
          <center>
            <!-- Facebook -->
            <em><h1 style="margin:10px;font-size:20px;">Connect With Us</h1></em>
            
<a href="https://www.facebook.com/ "> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
          
<a href="https://in.linkedin.com/ "> <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>


<a href=" https://twitter.com/login?lang=en"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>


<a href="https://plus.google.com/discover "> <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>


            </center>
          </div>
        </div>
        <!-- Grid column -->

      </div>

      </div>
    </div>
    
<div class="container-fluid"  style="background-color: #66B9BF;  padding:40px;width:100%;z-index:-1;position:relative;">
    <div class="container text-center text-md-left mt-5" >

      <div class="row mt-3">

        <div class=" col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
<strong>
          
       <a href="/homepage">   <h6 class="text-uppercase font-weight-bold " style="padding:20px;font-size:20px; "><i class="fas fa-campground fa-2x"></i>YelpCamp</h6></a>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="font-color:#008000; ">Here you can find best campground which persist in our beutiful nature. Go and get a wonderful memory out there.</p>
</strong>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold;" style="padding:20px; font-size:20px; ">Location</h6>
          <hr class="cyan mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">San Francisco</a>
          </p>
          <p>
            <a href="#!">Boston</a>
          </p>
          <p>
            <a href="#!">Miami </a>
          </p>
         

        </div>
        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase font-weight-bold " style="padding:20px; font-size:20px; ">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          
          <p>
            <a href="/homepage">Home</a>
          </p>
          <p>
            <a href="/login">Login</a>
          </p>
          <p>
            <a href="/register">SignUp</a>
          </p>

        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase font-weight-bold" style="padding:20px;font-size:20px;  ">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Indian </p>
          <p>
            <i class="fa fa-envelope mr-3"></i> shivammanawat2526@gmail.com </p>
          <p>
            <i class="fa fa-phone mr-3"></i> +8109696525 </p>
          
        </div>
      </div>



    <div class="footer-copyright text-center py-3"> © 2018 Copyright:
      <a href="https://shivamproject-shivammanawat.c9users.io/">Yelpcamp Official Website </a>
    </div>

     </div>
     </div>
  </footer>
  <!-- Footer -->
 

  
</body>
 
 
 
 
 
</html>

